<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
        </handlers>
        <aspNetCore hostingModel="InProcess" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\Logs\stdout" forwardWindowsAuthToken="false"/>
        <security>
            <requestFiltering allowDoubleEscaping="true" >
                <!-- maxAllowedContentLength must also be set in IIS "Request filtering" (modify parameters) -->
                <!-- and set as maxUploadSize in UploadResourceDialogComponent -->
                <requestLimits maxAllowedContentLength="400000000" />
            </requestFiltering>
        </security>
        <modules runAllManagedModulesForAllRequests="false">
            <remove name="WebDAVModule" />
        </modules>
        <rewrite>
            <outboundRules>
                <rule name="ResponseAuthenticateNone" patternSyntax="Wildcard">
                    <match serverVariable="RESPONSE_www_authenticate" pattern="*" />
                    <action type="Rewrite" value="None" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
